:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  padding: 40px 0;
  /* place-items: center; */
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: auto;
  flex-direction: column;
}

.container h1:hover{
  transition: 0.75s;
  color: rgb(47, 255, 151);
}

.shop{
  border:1px solid white; 
  padding: 10px 60px 20px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start; 
}

.headline{
  align-self: center;
  font-size: 20px;
  font-weight: bold;
}

.headline:hover{
  transition: all 0.5s ease-in-out;
  transition-duration: 0.7;
  color: #6e75ed;
  font-size: 21px;
}

.btn{
  margin-left: 10px;
}

input{
  padding:5px 9px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.form{
  display: flex;
  
}

.delete{
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.items{
  list-style-type:circle;
  /* display: inline; */
}

.items:hover{
  transition: 0.5s;
  color: #6e75ed;
}


.ul{
  display: flex;
  flex-direction: column;
}

.delete{
  margin: 0 0 0 170px;
}